# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out


# Debug data
data
logs

*.sock
*.log
*.csv
*.json

/medalla
/rumordata

# Example SSH key
rumor_ssh_server
rumor_ssh_server.pub

# Root dir scripts are for debugging
/*.rumor
